doctype html 
html
  head
    title Pooja Dance Academy
    block scripts 
    block style
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/img/logo.jpg")
                | PDA
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Contact Us ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info]
    block content
    footer#footer 
            | Copyright 2019 Pooja Dance Academy | All Right Reserved 